[submodule "src/thirdparty/CodeMirror2"]
	path = src/thirdparty/CodeMirror2
	url = git://github.com/adobe/CodeMirror2.git
[submodule "src/thirdparty/path-utils"]
	path = src/thirdparty/path-utils
	url = git://github.com/jblas/path-utils.git
[submodule "src/thirdparty/jslint"]
	path = src/thirdparty/jslint
	url = git://github.com/douglascrockford/JSLint.git
[submodule "src/thirdparty/smart-auto-complete"]
	path = src/thirdparty/smart-auto-complete
	url = git://github.com/laktek/jQuery-Smart-Auto-Complete.git
[submodule "src/thirdparty/mustache"]
	path = src/thirdparty/mustache
	url = git://github.com/janl/mustache.js.git
[submodule "src/extensions/default/everyscrub"]
	path = src/extensions/default/everyscrub
	url = git://github.com/peterflynn/everyscrub.git
[submodule "src/extensions/default/dropbox"]
	path = src/extensions/default/dropbox
	url = git://github.com/zhizhangchen/brackets-dropbox.git
